.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 82px);
    .homeTitle {
        margin-bottom: 30px;
    }
    .homeButton {
        border: none;
        background-color: rgb(75, 147, 234);
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        transition: all .5s;
        cursor: pointer;
        &:hover {
            background-color: rgb(152, 198, 255);
        }
    }
}